
<h1>文章列表</h1>

<%= link_to '后退', admin_path, class: 'btn btn-default' %>
<%= link_to '创建新文章', new_article_path, class: 'btn btn-info' %>

<table class="table">
  <thead>
  <tr>
    <th scope="row">#</th>
    <th scope="row">标题</th>
    <th scope="row">类型</th>
    <th scope="row">发布时间</th>
    <th scope="row" colspan="3">操作</th>
  </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <th scope="row"><%= article.id %></th>
      <td><%= article.title %></td>
      <td><%= get_type_text article.level %></td>
      <td><%= article.created_at %></td>
      <td><%= link_to '编辑', edit_article_path(article) %></td>
      <td><%= link_to '删除', article, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

