<p>
  <strong>Title:</strong>
  <%= @carousel.title %>
</p>

<p>
  <strong>Src:</strong>
  <%= @carousel.src %>
</p>

<p>
  <strong>Url:</strong>
  <%= @carousel.url %>
</p>

<%= link_to 'Edit', edit_carousel_path(@carousel) %> |
<%= link_to 'Back', carousels_path %>
