<footer class="footer">
  <div class="container">
    <div class="col-md-12 col-sm-12">
      <div class="footer-primary-links">
        <div class="col-md-4 col-xs-6">
          <ul>
            <li>
              电话: <%= link_to "xxxxxxxx", "tel:xxxxxxxxx" %>
            </li>
            <li>
              邮箱: <%= link_to "xxxxxxxx", "mailto:xxxxxxxxx@gmail.com" %>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-xs-6">
          <div class="row">
            <div class="col-md-6">
              <ul>
                <li>
                  <%= link_to "网站首页", root_path %>
                </li>
                <li>
                  <%= link_to "新闻资讯", '#' %>
                </li>
                <li>
                  <%= link_to "活动记录", '#' %>
                </li>
                <li>
                  <%= link_to "入会须知", '#' %>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul>
                <li>
                  <%= link_to "关于我们", '#' %>
                </li>
                <li>
                  <%= link_to "会员风采", '#' %>
                </li>
                <li>
                  <%= link_to "公益事业", '#' %>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div class="col-md-4 col-xs-12">
          <%= image_tag 'https://via.placeholder.com/256x256', width: 50 %>
          <div>入会申请</div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <!--    Copyright © 2018 欧洲青年技术家协会 版权所有-->
  </div>
</footer>
