<div class="container-fluid header">
  <div class="container">
    <header class="navbar">
      <div>
        <%= link_to(image_tag("logo.png", width: 60, class: 'logo'), root_path, id: "logo") %>
        <nav>
          <ul class="nav navbar-nav">
            <li><%= link_to "网站首页", root_path %></li>
            <li><%= link_to "入会须知", page_path('入会须知') %></li>
            <li><%= link_to "活动记录", pages_path + '?type=activity' %></li>
            <li><%= link_to "公益事业", page_path('公益事业') %></li>
            <li><%= link_to "会员服务", page_path('会员服务') %></li>

            <% if log_in? %>
              <li><%= link_to "后台", admin_path %></li>
              <li><%= link_to "退出登录", logout_path, method: :delete %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
  </div>
</div>